<!DOCTYPE html>
<!--
	Created		: Mar 18, 2020, 2:48:25 PM
    Author		: Aaron E-J <the at otherrealm.org>
	Copyright(C): 2020 Other Realm LLC
	This program is free software: you can redistribute it and/or modify
	it under the terms of the latest version of the GNU Affero General Public License as published by
	the Free Software Foundation, using at least version 3.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details: <http://www.gnu.org/licenses/>.
-->
<html lang="en">

<head>
	<title>Love From Afar</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="node_modules/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
	<link href="css/lfa.css" rel="stylesheet" type="text/css" />
	<script src="node_modules/jquery/dist/jquery.js" type="text/javascript"></script>
	<script src="node_modules/vue/dist/vue.js" type="text/javascript"></script>
	<script>
		// $("input[name|='be']").ready(function () {
		// 	$("input[name|='be']").prop('checked', false);
		// 	$('#objectives,#about').prop('required', true);
		// 	var obAbVal = $('#objectives');
		// 	//				$('#objectives,#about').prop('minlength', 150);
		// 	$('#objectives').prop('minlength', 150);
		// 	$('#about').prop('minlength', 150);
		// });
	</script>
	<script src="node_modules/@yaireo/tagify/dist/tagify.min.js" type="text/javascript"></script>
	<script src="node_modules/@yaireo/tagify/dist/tagify.polyfills.min.js" type="text/javascript"></script>
</head>

<body>
	<div id="app">
		<!--Love From Afar-->
		<h1 id="hTitle">{{title}}</h1>
		<div id="formRapper">
			<form id="intrestForm">
				<p>Would you like to be <span class="bold">yourself</span>, a <span class="bold">predesigned</span> fictional character<span class="gray superscript" title="(Potentially costs money)">$</span>, a fictional character<span class="bold">you create</span>, or <span class="bold">multiple</span> characters<span class="gray superscript" title="(Potentially costs money)">$</span>?<br> <be name="be" v-for='waysto in be' v-model="bee" :tobe='waysto' :key="waysto.id" value="waysto.text"></be>
					<!-- 
					<p>
						<label for="name">Enter your name<span class='gray'>*</span>:</label><br>
						<input type="text" id="name" name='name' placeholder="Your Name" required class="form-control">
					</p>
					<p>
						<label for="email">Enter your email<span class='gray'>*</span>:</label><br>
						<input type="email" id="email" name="email" placeholder="example@address.com" title="Enter your email" required class="form-control">
					</p>
					<p>
						<label for="phone">Enter your phone number:</label><br>
						<input type="tel" id="phone" name="phone" placeholder="1-234-567-8901" class="form-control" pattern="([0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{11}|[0-9]{10})" title="Enter your phone number">
					</p>
					<p>Would you like to be <span class="bold">yourself</span>, a <span class='bold'>predesigned</span> fictional character<span class='gray superscript' title="(Potentially costs money)">$</span>, a fictional character <span class='bold'>you create</span>, or <span class='bold'>multiple</span> characters<span class='gray superscript' title="(Potentially costs money)">$</span>?<br>
						<input type="radio" id="beyourself" name="be" value="yourself" required><label for="beyourself">Yourself </label> &nbsp; 
						<input type="radio" id="bepredesigned" name="be" value="predesigned" required><label for="bepredesigned">A predesigned fictional character</label>&nbsp; 
						<input type="radio" id="becreatedbyyou" name="be" value="createdbyyou" required><label for="becreatedbyyou">A fictional character created by you</label> &nbsp; 
						<input type="radio" id="bemultiple" name="be" value="multiple" required><label for="bemultiple">Multiple characters</label>
					</p>
					<p>
						<label for="gender">Enter your gender (Identity, i.e. how you perceive yourself romantically to others)<span class='gray'>*</span>:</label><br>
						<input type="text" name="gender" id="gender" placeholder="Your gender"  class="tagify--outside form-control" required>
					</p>
					<p>
						<label for="sexualAttraction">Enter your what gender you are attracted to, if it doesn't matter, don't put anything:</label><br>
						<input type="text" id="sexualAttraction" name='sexualAttraction' placeholder="Your gender of attraction"  class="form-control">
					</p>
					<p>
						<label for="interests">Enter your interests<span class='gray'>*</span>:</label><br>
						<input type="text" id="interests" name="interests" class="tagify--outside form-control" placeholder="Your interests" required>
					</p>
					<p>
						<label for="location">The town or city, state or province, and nation you live in.  (So that you can try to find someone close by, and if we can ever leave, meet up in person!)<span class='gray'>*</span>:</label><br>
						<input type="text" id="location" name="location" class="form-control" placeholder="Boston, MA USA" required>
					</p>
					<label for="about">About you or your character (please be as descriptive as possible – essay style if you want!)<span class='gray'>*</span>:</label><br>
					<textarea id="about" maxlength="100000" minlength="150" name="about" class="form-control" placeholder="Please be as descriptive as possible – essay style if you want!" required></textarea>
					<label for="objectives">What are your objectives?  What do you want to achive?<span class='gray'>*</span>:</label><br>
					<textarea id="objectives" maxlength="100000" minlength="150" name="objectives" class="form-control" placeholder="Please be as descriptive as possible – essay style if you want!" required></textarea>
					<p>
						<em><span class='gray'>(*Required)</span></em>
					</p>
					<p>
						<button type="submit" formenctype="application/x-www-form-urlencoded" form='intrestForm' class="btn btn-primary" id="submit" name="submit" formmethod="post">Submit</button>
					</p> -->
					<div id="results">{{bee}}</div>
			</form>
		</div>
	</div>
	<script src="node_modules/@popperjs/core/dist/umd/popper.js" type="text/javascript"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
	<script src="js/lfa.js" type="text/javascript"></script>
</body>

</html>